{% extends "users/base.html" %}
{% block title %} Faii-Zen {% endblock title%}
{% block content %}
    <body>
       <section id="calorie">
        <div id="cal_table">
            <article>
                <fieldset style=" background:
                linear-gradient(
                    105deg,
                    rgb(0 255 255 / 20%) 39%,
                    rgb(51 56 57 / 100%) 96%
                  );">
                    <legend>
                        Calorie Counter
                    </legend>
                    <form action="{% url 'c_results' %}" method="GET">
                        {{form}}
                        <div class="container">
                            <h5>Save meal to profilex</h5>
                            <label class="switch" for="checkbox">
                            <input type="checkbox" name="checkbox"/>
                            </label>
                        </div>
                        <button  type="submit"> Submit</button> <br/>
                    </form>
                </fieldset>
            </article>
        </div>
    </section>
    </body>
{% endblock content %}