{% extends "users/base.html" %}
{% block title %} Faii-Zen {% endblock title%}
{% block content %}
<div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <body>
        <section id="macro">
            <div id="bmr_table">
                    <fieldset style=" background:
                    linear-gradient(
                        105deg,
                        rgb(0 255 255 / 20%) 39%,
                        rgb(51 56 57 / 100%) 96%
                      );height:auto; width:auto;">
                        <legend>
                            BMR Macro Calculator
                        </legend>
                        <form action="{% url 'm_results' %}">
                            <input type="number" name="feet">
                            <label for="height">Height in feet</label><br>
                            <input type="number" name="inches">
                            <label for="height">inches</label><br>
                            <input type="number" name="weight">
                            <label for="weight">Weight</label><br>
                            <input type="number" name="age">
                            <label for="age">Age</label><br>
                            <div class="container">
                                <label class="switch" for="checkbox"> Sex
                                <input type="checkbox" name="checkbox">
                                </label>
                            </div>
                            <label for="showMoreFields">Run extended breakdown?</label>
                            <input type="checkbox" id="showMoreFields" name="showMoreFields">

                            <div id="moreFields" style="display: none;">
                                <label for="d_protien"> Daily Protien:</label><br>
                                <input type="text" id="d_protien" name="d_protien"><br>
                                <label for="d_carb">Daily Carbohydrates:</label><br>
                                <input type="text" id="d_carb" name="d_carb"><br>
                                <label for="d_fat">Daily Fats</label><br>
                                <input type="text" id="d_fat" name="d_fat"><br>
                            </div><br/>
                            
                            <button  type="submit">Calculate</button> <br/>
                        </form>
                    </fieldset>
            </div>
            <div id="moreFields" style="display: none;">
                <label for="fullmacro">Run extended breakdown on MacroNurtiensts? :</label><br>
                <input type="checkbox" id="fullmacro" name="fullmacro"><br>
            </div>
        </section>
        <script>
            $(document).ready(function(){
                $('#showMoreFields').change(function(){
                    if(this.checked)
                        $('#moreFields').fadeIn('slow');
                    else
                        $('#moreFields').fadeOut('slow');
                });
            });
        </script>
    </body>
</div>
{% endblock content %}