<!doctype html>
<html lang="en">
<head>
  <title>{% block title %}Faii-Zen{% endblock %} </title>
</head>
<body>
  <nav>
    <div id="home"  style="border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    font-size:larger; text-align:center; font-weight:bold; background-color:skyblue;height:auto; width:auto;" >
        <div class="topdiv">
            <a class="topdiv" href="{% url 'home' %}">Home</a>
            <a class="topdiv" href="{% url 'finance' %}">Finance</a>
            <a class="topdiv" href="{% url 'macro' %}">Macro</a>
            <a class="topdiv" href="{% url 'calories' %}">Calorie Counter</a>
            <a class="topdiv" href="{% url 'food' %}">Food</a>
            <a class="topdiv" href="{% url 'stock' %}">Stocks</a>
        </div>
    </div>
  </nav> 
  {% block content %} {% endblock content %}

</body>
<br>
<footer>
  Made by Faii
</footer>
</html>